.note {
  display: flex;
  align-items: center;
  max-width: 525px;
  min-height: 26px;
}
.checkbox_note {
  width: 26px;
  min-height: 26px;
  margin-right: 17px;
  border-radius: 2px;
  border: 1px solid #6c63ff;
  accent-color: #6c63ff;
}
.checked {
  text-decoration: line-through;
}
.checked {
  text-decoration: line-through;
}
.text_note {
  max-width: 420px;
  width: 100%;
  min-height: 20px;
  margin: 0;

  font-family: Kanit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
}
.light {
  color: #252525;
}
.dark {
  color: #f7f7f7;
}
.btns_note {
  display: flex;
  width: 62px;
  height: 18px;
  justify-content: space-around;
}
.btn_change {
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;
  background-image: url("../../../img/change-img.svg");
}
.btn_deleted {
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;
  background-image: url("../../../img/deleted_img.svg");
}
.input_change {
  max-width: 420px;
  width: 100%;
  min-height: 26px;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #6c63ff;
  font-size: 10px;
}
