.theme_btn {
  background-color: transparent;
  border: none;
  padding: 0;
  max-width: 38px;
  width: 100%;
  min-height: 38px;
  height: 100%;
}
.theme_btn--light {
  background-image: url("../../../img/theme_img.svg");
}
.theme_btn--dark {
  background-image: url("../../../img/theme_dark.png");
}
