.header {
  max-width: 750px;
  width: 100%;
  min-height: 135px;
  padding-top: 40px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.light {
  color: #252525;
}
.dark {
  color: #f7f7f7;
}
.title_header {
  font-family: Kanit;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin: 0;
  margin-bottom: 18px;
}
