.drop_down {
  max-width: 85px;
  min-height: 38px;
  padding: 10px;
  border-radius: 5px;
  background: #6c63ff;
  color: white;
  font-family: Kanit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 18px */
  text-transform: uppercase;
}
