@import "../../variables";
.wrapper {
  position: relative;
  max-width: 750px;
  width: 100%;
  display: flex;
}
.input_search {
  max-width: 595px;
  width: 100%;
  min-height: 38px;
  border-radius: 5px;
  border: 1px solid #6c63ff;
}
//TODO объединить!!!
.input_search--light {
  background-color: #f7f7f7;
  border-color: #6c63ff;
}
.input_search--light::placeholder {
  color: $light-placeholder-color;
}
.input_search--dark {
  background-color: #252525;
  border-color: #f7f7f7;
}
.input_search--dark::placeholder {
  color: $dark-placeholder-color;
}

.btn_search {
  max-width: 21px;
  width: 100%;
  min-height: 21px;
  position: absolute;
  background: transparent url("../../../img/btn-search.svg") no-repeat;
  border: none;
  left: 336px;
  top: 7px;
  bottom: 4px;
  padding: 0;
  cursor: pointer;
}
.btn_search--light {
  background: transparent url("../../../img/btn-search.svg") no-repeat;
}
.btn_search--dark {
  background: transparent url("../../../img/btn-search_dark.svg") no-repeat;
}
